/* Classe */
.Paragrafo{
    background-color: #000;
    color: yellow;
    padding: 5px;
}

/* ID */
#tituloComId{
    background-color: green;
    color: #fff;
    padding: 10px;
    font-size: 40px;
}

/* Regra */

h1{
    border-bottom: 2px solid blue;
}

.classTitulo{
    border-bottom: 3px solid red;
}

#idTitulo{
    border-bottom: 3px solid black;
}